<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stackpath.bootstrapcdn.com/font-awesome/4.…"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>team section</title>
    <link rel="stylesheet" href="teamcard1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

    put following content here


</body> -->

<div class="container-manager">

    <div class="managerCard-TeamTCP">
      <div class="manager-topBar">Manager</div>
      <div class="topEmoji-managerCard">
        <div>
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          
        </div>
        <div>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
      </div>
      <div class="content-managerCard">
        <img src=https://images.pexels.com/photos/2826131/pexels-photo-2826131.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 alt="">
        <div class="name_manager">Harsh Pastor</div>
        <svg class="connecting-line">
          <line
            x1="10"
            y1="10"
            x2="240"
            y2="10"
            stroke="hsl(161, 70%, 82%)"
            stroke-width="2"
          />
        </svg>
        <p>Technical</p>
      </div>
      <div class="btn-socialHandles-mangerCard">
          <!-- <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> -->
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      
      </div>
      <div class="managerCardBack-TeamTCP"></div>
    </div>
    
      <div class="btn-socialHandles-mangerCard">
        <!-- <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> -->
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    
      </div>
    </div>