<div class="cu-main">
    <div class="heading">MERCHANDISE</div>
    <div class="cu_main">
        
        <div class="cu_container">
            <div class="cu-left-section cu-resp">
                <img src="/assets/images/merch1.png" alt="Merch 1" class="cu-merch-image" id="1"  >
                <img src="/assets/images/merch2.png" alt="Merch 2" class="cu-merch-image" id="2"  >
                <img src="/assets/images/merch3.png" alt="Merch 3" class="cu-merch-image" id="3"  >
            </div>
            <img src="/assets/images/merch1.png" alt="Merch 1" class="cu-main-image cu-resp" id="4">
            <div class="cu-right-section">
                <p class="cu-maintext">Official Merchandise - CU 8.0</p>
                <p class="cu-subtext">Grab <span>yours</span> one Now!</p>
                <div class="cu-price-section">
                    <p class="cu-price-list1">Price (Customized): ₹499/-</p>
                    <p class="cu-price-list2">Price (Non-Customized): ₹449/-</p>
                </div>
                <div class="cu-special-offer">
                    <p class="cu-special-text"><span>Special Offer!</span></p>
                    <ul>
                        <li>Buy <span>3</span> Get ₹100/- OFF</li>
                        <li>Buy <span>5</span> Get ₹250/- OFF</li>
                        <li>Buy <span>10</span> Get ₹600/- OFF</li>
                    </ul>
                </div>
                <p class="cu-sizes">Sizes Available: XS, S, M, L, XL</p>
                <p class="cu-disclaimer">Disclaimer: Delivery Available Only in Raipur.</p>
                <button>Buy Now!</button>
            </div>
        </div>
    </div>
    
    
</div>

