.codeutsava_sponsors_image {
  height: 80px;
  width: auto;
  transform: rotate(20deg);
  margin-right: 0.5em;
  display: none;
}

.codeutsava_sponsors_subheading {
  font-size: 20px;
  text-align: center;
  text-shadow: 2.85px 2.85px 0.532px black;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.codeutsava_sponsers_heading {
  font-size: 3em;
  display: flex;
  justify-content: center;
  color: var(--primary-c);
  text-shadow: 2.85px 2.85px 0.532px black;
  margin-top: 2em;
}
.codeutsava__sponsers-carousel-container {
  background-color: rgba(125, 125, 125, 0.265);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  overflow: hidden;
  display: inline-block;
  background-image: url("../../assets/images/grass.png");
  background-position: bottom;
  background-repeat: repeat-x;
  margin-top: 2em;
  margin-bottom: 2em;
}

.codeutsava__sponsers-carousel {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 205%; 
  animation: scrollInfinite 40s linear infinite;
}

.codeutsava__sponsers-carousel:hover {
  animation-play-state: paused;
}

.codeutsava__sponsers-carousel-item {
  display: inline-block !important;
  margin: 2rem 3rem;
  height: 75px;
  width: auto;
  object-fit: contain;
}

.codeutsava__sponsers-carousel-item img {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  object-fit: cover;
}

.codeutsava__sponsers-carousel::after {
  content: '';
  display: inline-block;
  width: 100%; 
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}
@media screen and (max-width: 768px) {
  .codeutsava_sponsers_heading {
    font-size: 2.5em;
    margin-top: 1.5em;
  }

  .codeutsava_sponsors_subheading {
    font-size: 1.5em;
    margin: 20px 30px;
  }

  .codeutsava__sponsers-carousel {
    animation-duration: 30s;
  }

  .codeutsava__sponsers-carousel-item img {
    width: 130px;
  }

  .codeutsava_sponsors_image {
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .codeutsava_sponsers_heading {
    font-size: 2em;
    margin-top: 1em;
  }

  .codeutsava_sponsors_subheading {
    font-size: 1.2em;
    margin: 15px 20px;
  }

  .codeutsava__sponsers-carousel {
    animation-duration: 20s;
    width: 225%; 
  }

  .codeutsava__sponsers-carousel-item {
    margin: 1rem 1.5rem;
    height: 60px;
  }

  .codeutsava__sponsers-carousel-item img {
    width: 100px;
  }

  .codeutsava_sponsors_image {
    height: 50px;
  }
}
