    <div class="codeutsava_sponsers_heading">
        <img src="../../assets/images/gamingconsole2.png" class="codeutsava_sponsors_image">
        SPONSORS
    </div>
    <div class="codeutsava_sponsors_subheading">On behalf of team TCP, we would publicly like to thank the generous sponsors without whom this event could not be held so smoothly.</div>
    <div class="codeutsava__sponsers-carousel-container">
        <div class="codeutsava__sponsers-carousel">
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Devfolio.svg" alt="DEVFOLIO LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/ethindia.svg" alt="ETHINDIA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO"/>
            </div>
        
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Solana.svg" alt="SOLANA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/replit.svg" alt="REPLIT LOGO"/>
            </div>
            
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Filecoin.svg" alt="FILECOIN LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item-block">
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Devfolio.svg" alt="DEVFOLIO LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/ethindia.svg" alt="ETHINDIA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO"/>
            </div>
        
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Solana.svg" alt="SOLANA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/replit.svg" alt="REPLIT LOGO"/>
            </div>
            
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Filecoin.svg" alt="FILECOIN LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item-block">
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Devfolio.svg" alt="DEVFOLIO LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/ethindia.svg" alt="ETHINDIA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO"/>
            </div>
        
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Solana.svg" alt="SOLANA LOGO"/>
            </div>
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/replit.svg" alt="REPLIT LOGO"/>
            </div>
            
            <div class="codeutsava__sponsers-carousel-item">
                <img src="../../assets/images/Sponsors/Filecoin.svg" alt="FILECOIN LOGO"/>
            </div>
        </div>
    </div>