<div class="codeutsava_sponsers_heading">
  <img
    src="../../assets/images/gamingconsole2.png"
    class="codeutsava_sponsors_image"
  />
  SPONSORS
</div>
<div class="codeutsava_sponsors_subheading">
  On behalf of team TCP, we would publicly like to thank the generous sponsors
  without whom this event could not be held so smoothly.
</div>
<div class="codeutsava__sponsers-carousel-container">
  <div class="codeutsava__sponsers-carousel">
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/Devfolio.svg"
        alt="DEVFOLIO LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/ethindia.svg"
        alt="ETHINDIA LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Aptos.png" alt="APTOS LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/LIC.png" alt="LIC LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ibc24.png" alt="IBC24 LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/geoias.png" alt="GEOIAS LOGO" />
    </div>
    <!-- <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/jainx.jpg" alt="JAINX LOGO" />
    </div> -->
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/givemycertificate.png"
        alt="GiveMyCertificate LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/burgercompany.png"
        alt="BurgerCompany LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/interviewbuddy.png"
        alt="InterviewBuddy LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Codigo.png" alt="CODIGO LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ITS.jpg" alt="ITS LOGO" />
    </div>

    <div class="codeutsava__sponsers-carousel-item-block"></div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/Devfolio.svg"
        alt="DEVFOLIO LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/ethindia.svg"
        alt="ETHINDIA LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Aptos.png" alt="APTOS LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/LIC.png" alt="LIC LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ibc24.png" alt="IBC24 LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/geoias.png" alt="GEOIAS LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/jainx.jpg" alt="JAINX LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/givemycertificate.png"
        alt="GiveMyCertificate LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/burgercompany.png"
        alt="BurgerCompany LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/interviewbuddy.png"
        alt="InterviewBuddy LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Codigo.png" alt="CODIGO LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ITS.jpg" alt="ITS LOGO" />
    </div>

    <div class="codeutsava__sponsers-carousel-item-block"></div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/Devfolio.svg"
        alt="DEVFOLIO LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Polygon.svg" alt="POLYGON LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/ethindia.svg"
        alt="ETHINDIA LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Fold.png" alt="FOLD LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Aptos.png" alt="APTOS LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/LIC.png" alt="LIC LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ibc24.png" alt="IBC24 LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/geoias.png" alt="GEOIAS LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/jainx.jpg" alt="JAINX LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/givemycertificate.png"
        alt="GiveMyCertificate LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/burgercompany.png"
        alt="BurgerCompany LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img
        src="../../assets/images/Sponsors/interviewbuddy.png"
        alt="InterviewBuddy LOGO"
      />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/Codigo.png" alt="CODIGO LOGO" />
    </div>
    <div class="codeutsava__sponsers-carousel-item">
      <img src="../../assets/images/Sponsors/ITS.jpg" alt="ITS LOGO" />
    </div>
  </div>
</div>
