/* body{
	cursor: url('./public/assets/images/pointer2.png'),pointer;
}
.custom_cursor{
	width: 12px;
	height: 12px;
	background-color: #121212;
	z-index: 1000;
	position: absolute;
} */

#app{
	image-rendering: pixelated;
	overflow: hidden;
}

/* style.css */
/* index.css */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10; 
  }
  
  .modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	max-width: 500px;
	position: relative;
	color: #333; 
	font-size: 14px; 
  }
  
  .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #333; 
  }
  
  
#messageContainer {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px; 
    text-align: center;
    z-index: 10; 
    display: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messageText {
    margin: 0;
    margin-bottom: 10px;
}

#nextButton {
    margin-top: 10px; 
    padding: 8px 12px;
    background-color: #f1c40f;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block; /* Ensures it behaves as a block element for centering */
    margin-left: auto; /* Aligns the button to the center */
    margin-right: auto; /* Aligns the button to the center */
}

#footer-routing-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	overflow-x: hidden;
}


  
  /* .hidden {
	display: none;
  } */
  

.homepage {
	width: 100%;
	/* height: 100vh; */
	background-image: url("/public/assets/images/intro-bg.webp");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.homepage::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: -1;
	pointer-events: none;
}

.homepage > * {
	z-index: 2;
}

.codeutsava__navbar-container {
	z-index: 9999;
	width: 100%;
	position: sticky;
	top: 0px;
	position: fixed !important;
}

.codeutsava__routing_container{
	background-image: url("/public/assets/images/intro-bg.webp");
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

#footer-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	overflow-x: hidden;
}

#main-container {
	margin-top: 72px !important;
}

/* Intro Screen Css starts here */

@font-face {
	font-family: "FFFFORWA";
	src: url("/assets/fonts/FFFFORWA.TTF") format("truetype");
}

@font-face {
	font-family: "8bitlim";
	src: url("/assets/fonts/8bitlim.ttf") format("truetype");
}

@font-face {
	font-family: "joystix monospace";
	src: url("/assets/fonts/joystix monospace.ttf") format("truetype");
}

.intro-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 2000000;
}

.image-cont img {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

.image-cont::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.image-cont > * {
	z-index: 2;
}

.intro-button-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 20000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: none;
}

 /* .intro-button-container .intro-button {
  user-select: none;
  cursor: pointer;
  font-family: "joystix monospace";
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  letter-spacing: 3px;
  height: 60px;
  width: 50vw;
  background-color: rgb(184, 184, 184);
  border: 5px solid black;
  box-shadow: inset -3px -3px 0 4px rgb(118, 118, 118);
  transition: all 0.05s ease-in-out;
} */

.intro-button-container .intro-button:active,
.intro-button-container .intro-button:focus {
  box-shadow: none;
}

.intro-button-container .intro-button:hover {
  border-color: white;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 5px),
    5px calc(100% - 5px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 5px) 5px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 5px,
    0px 5px
  );
} 
.intro-button {
	font-family: var(--font-family1);
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	width: 500px;
	margin-top: 30px;
}

.intro-button:hover .border {
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.intro-button:hover .border .left-plane,
.intro-button:hover .border .right-plane {
	transform: translateX(0%);
}

.intro-button:hover .text {
	color: #121212;
}

.intro-button .border {
	border: 1px solid white;
	transform: skewX(-20deg);
	height: 32px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	transition: 0.1s ease-out;
}

.intro-button .border .left-plane,
.intro-button .border .right-plane {
	position: absolute;
	background: white;
	height: 32px;
	width: 350px;
	transition: 0.15s ease-out;
}

.intro-button .border .left-plane {
	left: 0;
	transform: translateX(-100%);
}

.intro-button .border .right-plane {
	right: 0;
	transform: translateX(100%);
}

.intro-button .text {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.15s ease-out;
	color: white;
	font-weight: semi-bold;
}
.clouds-container {
	width: 100vw;
	height: 100vh;
	z-index: 2000000;
	position: absolute;
	pointer-events: none;
}

.clouds-container .cloud {
	position: absolute;
	object-fit: contain;
	pointer-events: none;
}

.clouds-container .cloud:first-child {
	left: -500%;
	animation: leftCloud 3s ease-in-out forwards;
}

.clouds-container .cloud:last-child {
	right: 500%;
	transform: rotate(180deg);
	animation: rightCloud 3s ease-in-out forwards;
}

@media (max-width: 480px) {
  .clouds-container.cloud {
    width: 200px;
  }
}

@keyframes leftCloud {
	0% {
		left: -500%;
	}
	100% {
		left: 0;
	}
}

@keyframes rightCloud {
	0% {
		right: -500%;
	}
	100% {
		right: 0;
	}
}

@keyframes leftCloudReverse {
	0% {
		left: 0;
	}
	100% {
		left: -500%;
	}
}

@keyframes rightCloudReverse {
	0% {
		right: 0;
	}
	100% {
		right: -500%;
	}
}

.clouds-container.hidden .cloud {
	animation: none;
}

.clouds-container.show .cloud:first-child {
	animation: leftCloud 3s ease-in-out forwards;
}

.clouds-container.show .cloud:last-child {
	animation: rightCloud 3s ease-in-out forwards;
}

.clouds-container.hide .cloud:first-child {
	animation: leftCloudReverse 3s ease-in-out forwards;
}

.clouds-container.hide .cloud:last-child {
	animation: rightCloudReverse 3s ease-in-out forwards;
}

.mute-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 2000002;
	height: 50px;
	width: 50px;
	scale: 1.1;
	background-color: var(--primary-c);
	border-radius: 100%;
}

.mute-button-image {
	height: 20px;
}

.play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	/* bottom: 80px; */
	bottom: 1rem;
	z-index: 2000002;
	height: 50px;
	width: 50px;
	scale: 1.1;
	background-color: var(--primary-c);
	border-radius: 100%;
	/* box-shadow: 2.85px 2.85px black; */
	clip-path: polygon(
		0px calc(100% - 25px),
		5px calc(100% - 25px),
		5px calc(100% - 15px),
		10px calc(100% - 15px),
		10px calc(100% - 10px),
		15px calc(100% - 10px),
		15px calc(100% - 5px),
		25px calc(100% - 5px),
		25px 100%,
		calc(100% - 25px) 100%,
		calc(100% - 25px) calc(100% - 5px),
		calc(100% - 15px) calc(100% - 5px),
		calc(100% - 15px) calc(100% - 10px),
		calc(100% - 10px) calc(100% - 10px),
		calc(100% - 10px) calc(100% - 15px),
		calc(100% - 5px) calc(100% - 15px),
		calc(100% - 5px) calc(100% - 25px),
		100% calc(100% - 25px),
		100% 25px,
		calc(100% - 5px) 25px,
		calc(100% - 5px) 15px,
		calc(100% - 10px) 15px,
		calc(100% - 10px) 10px,
		calc(100% - 15px) 10px,
		calc(100% - 15px) 5px,
		calc(100% - 25px) 5px,
		calc(100% - 25px) 0px,
		25px 0px,
		25px 5px,
		15px 5px,
		15px 10px,
		10px 10px,
		10px 15px,
		5px 15px,
		5px 25px,
		0px 25px
	);
}
.play-button-image {
	height: 20px;
}

.intro-title-image {
  width: 500px;
}

@media screen and (max-width: 650px) {
	.intro-title-image {
		width: 280px;
	}

	.intro-button {
		width: 280px;
	}
}