@font-face {
  font-family: pixelled;
  src: url(./font.otf);
}
:root {
  font-family: pixelled, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #000000;
  --primary-c: #FFCE45;
  --secondary-c: #D4AC2B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-c);
}

#app {
  display: none;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-c));
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em var(--secondary-c));
}

.card {
  padding: 2em;
  background-color: rgba(232, 157, 60, 0.1);
  border: 1px solid var(--primary-c);
  border-radius: 8px;
}

.read-the-docs {
  color: rgba(232, 157, 60, 0.8);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-c);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-c);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  border: 1px solid var(--primary-c);
  z-index: -1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--secondary-c);
  }
  button {
    background-color: #f9f9f9;
    color: var(--primary-c);
  }
  canvas {
    border: 1px solid #000;
  }
}
