<div class="faq-container">
    <div class="faq-title">
        <h1>FAQs</h1>
    </div>
    <div class="faq-question-section">
        <div class="faq-question-section-right">
            <div class="faqr-title-section">
                <div class="faqr-title-section-left">
                    <img src="/assets/images/pixel-girl-transparent.png" alt="Illustration of a girl with pixels">
                </div>
                <div class="faqr-title-section-right">
                    <h2>Have a question?</h2>
                    <p>New to Hackathon?</p>
                    <p>Don't worry! We've got you covered with all the basic information.</p>
                </div>
            </div>
            <div class="faq-questions">
                <div class="faq-question">
                    <h3>How do I register for the hackathon? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Click on any "Register Now" button on the website, or head over to Devfolio.</p>
                </div>
                <div class="faq-question">
                    <h3>What is the participation fee? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Just some enthusiasm and an open mind are enough. We don't charge any money!</p>
                </div>
                <div class="faq-question">
                    <h3>What if I don't have a team or idea? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>We'll have team formation and ideation events to help you find a team. Be sure to join our Discord server.</p>
                </div>
                <div class="faq-question">
                    <h3>Who can participate? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Anyone is welcome to apply—students or working professionals. Whether you want to innovate or just enjoy a fun weekend, you're welcome!</p>
                </div>
                <div class="faq-question">
                    <h3>When and how will the teams be shortlisted? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Team shortlisting starts on 15th October based on individual resumes. Final teams will be announced on 26th October!</p>
                </div>
                <div class="faq-question">
                    <h3>What is the ideal team size? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Teams should consist of 2-4 members.</p>
                </div>
                <div class="faq-question">
                    <h3>Why should I participate in CodeUtsava 8.0? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Winners get cash prizes, and all participants will have excellent networking opportunities, learn new skills, and get cool swag.😉</p>
                </div>
                <div class="faq-question">
                    <h3>What other perks are provided? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Accommodations and meals will be provided, and travel expenses up to Rs.1500 per individual will be reimbursed for all the selected teams participating in CodeUtsava 8.0!</p>
                </div>
                <div class="faq-question">
                    <h3>How will the teams be judged? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>Teams will be judged on viability, technical complexity, presentation skills, guidelines, and most importantly, creativity. <a href="#" style="color: rgb(136, 195, 255); text-decoration: underline;">Judgment Criteria</a></p>
                </div>
                <div class="faq-question">
                    <h3>What is the Code of Conduct? <i class="fa-solid fa-plus" aria-hidden="true"></i></h3>
                    <p>To ensure a positive experience for all participants, we follow the SIH Code of Conduct. Please review it before the event.</p>
                </div>
            </div>
        </div>
    </div>
</div>
