<div class="hc-team-main-container" style="border: 0px;">
  <div class="hc-codeutsava__team-card3">
    <div class="hc-codeutsava__team-card3-ds-top"></div>
    <div class="hc-codeutsava__team-card3-spider">
      <img src="../../assets/images/bot.png" class="hc-codeutsava__team-card3-spider-img" alt="bot"/>
    </div>
    <h2 class="hc-team-position">Head Coordinator</h2>
    <div class="hc-codeutsava__team-card3-avatar-holder">
      <img src="https://via.placeholder.com/150" class="hc-codeutsava__team-card3-avatar-holder-img" alt="bot"/>
    </div>
    <div class="hc-codeutsava__team-card3-content">
      <h2>Neel Sharma</h2>
    </div>
    <div class="hc-codeutsava__team-card3-pumpkin">
      <img src="../../assets/images/bot2.png" class="hc-codeutsava__team-card3-pumpkin-img" alt="bot"/>
    </div>
    <div class="hc-codeutsava__team-card3-social">
      <a href="mailto:jane.doe@example.com" target="_blank" aria-hidden="true" ><img src="../../assets/images/email.svg" style="width: 25px;"/></a>
      <a href="https://linkedin.com" target="_blank" aria-hidden="true"><img src="../../assets/images/linkedin-square-icon.svg" style="width: 25px;" /></a>
      <a href="https://linkedin.com" target="_blank" aria-hidden="true"><img src="../../assets/images/x-social-media-logo-icon.svg" style="width: 25px;" /></a>
    </div>
  </div>
  </div>