  <div class="center-exe">

    <div class="codeutsava__Executive">
      <div class="codeutsava__Executive-content">
        <div class="codeutsava__Executive-split">
          <div class="codeutsava__Executive-content-name">
            <h2 class="codeutsava_dynamic_domain_wise_member_name">Arun Rathaur</h2> <!-- Replace with the team member's name -->
          </div>
          <svg class="connecting-line-executive">
            <line
              x1="20"
              y1="10"
              x2="280"
              y2="10"
              stroke="#ffe600"
              stroke-width="1"
            />
          </svg>
          <!-- <div class="codeutsava__Executive-content-line"></div> -->
          <div class="codeutsava__Executive-content-domain">
            <h3>Technical Executive</h3> <!-- Replace with the domain -->
          </div>
        </div>
      </div>
      <img src="../../../assets/images/thug-glasses.png" alt="Grave" class="codeutsava__Executive-img-thug-glasses"> <!-- Replace with correct image path -->
  
      <div class="codeutsava__Executive-social">
        <div class="codeutsava__Executive-social-ln">
          <a href="#" class="ig-execs"><i class="fa fa-instagram " aria-hidden="true"></i></a> <!-- Replace with actual LinkedIn URL -->
        </div>
      </div>
    </div>
  </div>