/* body {
} */

.codeutsava-404_page-gameContainer {
    text-align: center;
    /* font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; */
}

.codeutsava-404_page-gameContainer h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    color: #ff4747;
    opacity: 1; 
    transition: opacity 0.5s;
}

.codeutsava-404_page-gameContainer p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#codeutsava-404_page-startMessage {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #555;
    z-index: 90;
}

#codeutsava-404_page-gameCanvas {
    background-color: #fff;
    border: 2px solid #333;
    width: 100%; 
    max-width: 800px;
    height: auto;  
}
@media only screen and (max-width: 600px) {
    .codeutsava-404_page-gameContainer h1 {
        font-size: 4rem;
    }
    .codeutsava-404_page-gameContainer p {
        font-size: 1.2rem;
    }
    #codeutsava-404_page-startMessage {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}