<div class="codeutsava__navbar-container">
    <header class="codeutsava__navbar">
      <div class="codeutsava__navbar-body">
        <div class="codeutsava__navbar-logo codeutsava__navbar-brochure">
          <img src="../../assets/images/codeutsava.png" />
          <button
            class="codeutsava__navbar-brochure-button feedback-button"
          >
            <img src="../../assets/images/feedback.svg" alt="Feedback" />
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfHv8OJ7jkp9thPyPx1HrWJNPoGZ2z7FaFtIqpz7lO3dIqqgg/viewform?usp=sf_link"
              target="_blank"
              rel="noopener noreferrer"
            >
              FEEDBACK
            </a>
          </button>
        </div>
        <nav class="codeutsava__navbar-menu">
          <ul class="codeutsava__navbar-navlist">
            <li class="codeutsava__navbar-navitem">
              <a href="#home">
                <h3 class="codeutsava__navbar-menu-heading">Home</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#aboutus">
                <h3 class="codeutsava__navbar-menu-heading">About Us</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#aboutus">
                <h3 class="codeutsava__navbar-menu-heading">Merchandise</h3>
              </a>
            </li>
           <!-- <li class="codeutsava__navbar-navitem">
              <a href="#events">
                <h3 class="codeutsava__navbar-menu-heading">Event</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#speakers">
                <h3 class="codeutsava__navbar-menu-heading">Speakers</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#format">
                <h3 class="codeutsava__navbar-menu-heading">Our Format</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#sponsers">
                <h3 class="codeutsava__navbar-menu-heading">Sponsors</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#faq">
                <h3 class="codeutsava__navbar-menu-heading">FAQ</h3>
              </a>
            </li>
            <li class="codeutsava__navbar-navitem">
              <a href="#contactus">
                <h3 class="codeutsava__navbar-menu-heading">Contact Us</h3>
              </a>
            </li>  -->
          </ul>
        </nav>
        <div class="codeutsava__navbar-logo codeutsava__navbar-brochure">
          <button class="codeutsava__navbar-brochure-button">
            <img src="../../assets/images/downArrow.svg" />
            <a href="{brochure}" download="Brochure"> BROCHURE </a>
          </button>
          <img src="../../assets/images/tcp.webp" />
        </div>
      </div>
    </header>

    <header class="codeutsava__navbar-hamburger">
      <div class="codeutsava__navbar-hamburger-body">
        <nav class="codeutsava__navbar-hamburger-nav">
          <!-- <div class="hamburger" onclick="toggleMenu()">
            <svg
              class="ham hamRotate ham8"
              viewBox="0 0 100 100"
              width="80"
            >
              <path
                class="line top"
                d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
              />
              <path class="line middle" d="m 30,50 h 40" />
              <path
                class="line bottom"
                d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
              />
            </svg>
          </div> -->
          <div class="hamburger" id="toggleCrossOpen" onclick="toggleMenu()">
            <svg class="ham hamRotate ham8 " viewBox="0 0 100 100" width="80" >
              <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"/>
              <path class="line middle" d="m 30,50 h 40"/>
              <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"/>
            </svg>
          </div>
          <!-- <div class="codeutsava__navbar-hamburger-logo">
            <img src="../../assets/images/codeutsava.png" />
          </div>
          <div class="codeutsava__navbar-hamburger-logo">
            <img src="../../assets/images/tcp.png" />
          </div> -->
          <div class="codeutsava__navbar-hamburger-logo">
            <img src="../../assets/images/codeutsava.png" alt="Codeutsava Logo" />
          </div>
          <div class="codeutsava__navbar-hamburger-logo">
            <img src="../../assets/images/tcp.webp" alt="TCP Logo" />
          </div>
        </nav>
      </div>
      <ul id="hamburgerMenu" class="codeutsava__navbar-hamburger-navlist">
        <!-- <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#events" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Events
            </h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#speakers" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Speakers
            </h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#format" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Our Format
            </h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#sponsers" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Sponsors
            </h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#faq" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">FAQ</h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#contactus" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Contact Us
            </h3>
          </a>
        </li> -->
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#home" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">Home</h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#aboutus" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              About Us
            </h3>
          </a>
        </li>
        <li class="codeutsava__navbar-hamburger-navitem">
          <a href="#events" onclick="toggleMenu()">
            <h3 class="codeutsava__navbar-hamburger-menu-heading">
              Merchandise
            </h3>
          </a>
        </li>
        <div class="codeutsava__navbar-hamburger-brochure_feedback-button">
          <div class="codeutsava__navbar-hamburger-brochure_feedback-button">
            <!-- <button class="codeutsava__navbar-hamburger-brochure-button">
              <img src="../../assets/images/downArrow.png" />
              <a href="../../assets/brochure.pdf" download="Brochure">
                Brochure
              </a>
            </button> -->
          <button
            class="codeutsava__navbar-brochure-button Brochure-button"
          >
            <img src="../../assets/images/downArrow.svg" alt="Feedback" />
            <a
              href="../../assets/brochure.pdf"
              target="_blank"
              rel="noopener noreferrer"
            >
            Brochure
            </a>
          </button>
          <button
            class="codeutsava__navbar-brochure-button feedback-button"
          >
            <img src="../../assets/images/feedback.svg" alt="Feedback" />
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfHv8OJ7jkp9thPyPx1HrWJNPoGZ2z7FaFtIqpz7lO3dIqqgg/viewform?usp=sf_link"
              target="_blank"
              rel="noopener noreferrer"
            >
              Feedback
            </a>
          </button>
        </div>
      </ul>
    </header>
  </div>
