<div class="codeutsava__timeline_heading">
  <!-- <img src="../../assets/images/gamingconsole2.png" class="codeutsava_sponsors_image"> -->
  <img src="/assets/images/sanddial.png" alt="Sand dial" />
  Timeline
</div>
<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>

    <div class="cd-timeline-content">
      <h2>Registration Opens!</h2>
      <p>
        Registrations begin for CodeUtsava 8.0 ,the flagship event of The Turing
        Club of Programmers
      </p>

      <span class="cd-date">20ᵗʰ September, 11:00 AM</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>

    <div class="cd-timeline-content">
      <h2>Shortlisting Begins!</h2>
      <p>Team Shortlisting begins in batches.</p>
      <span class="cd-date">5ᵗʰ October, 11:00 AM</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Registration Closes!</h2>
      <p>Registrations for CodeUtsava 8.0 officially closed.</p>
      <span class="cd-date">20ᵗʰ October, 11:59 PM</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>

    <div class="cd-timeline-content">
      <h2>Final Teams Announced.</h2>
      <p>Final Shortlisted Teams for CodeUtsava 8.0 are released.</p>
      <span class="cd-date">21ᵗʰ October, 11:00 AM</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Problem Statements Released.</h2>
      <p>Problems Statements for CodeUtsava 8.0 are released.</p>
      <span class="cd-date">22ᵗʰ October, 11:00 AM</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Hackathon Begins!</h2>
      <p>Commencement of Codeutsava 8.0!</p>
      <span class="cd-date">26ˢᵗ October, 8:00 AM</span>
    </div>
  </div>
</section>
