
  <div class="container-manager">
  <div class="managerCard-TeamTCP">
    <div class="managerCardFront-TeamTCP">
      <div class="manager-topBar">Manager</div>
      <!-- <div class="topEmoji-managerCard">
        <div>
           <i class="fa-solid fa-laptop-code" aria-hidden="true"></i> 
          <svg fill="#c70000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve" stroke="#c70000" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="10.01"></g><g id="SVGRepo_iconCarrier"> 
            <path d="M329.579,3.592c-42.087,0-79.329,20.732-102.079,52.539C204.75,24.324,167.508,3.592,125.421,3.592 C56.153,3.592,0,59.745,0,129.013c0,30.111,10.612,57.741,28.299,79.36L227.5,451.408l199.201-243.035 C444.388,186.754,455,159.124,455,129.013C455,59.745,398.847,3.592,329.579,3.592z"></path> </g></svg>
        </div>
        <div>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
      </div> -->
      <div class="content-managerCard">
        <img
        src=https://images.pexels.com/photos/2826131/pexels-photo-2826131.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
        alt="">
        <div class="name_manager">Harsh Pastor</div>
        <svg class="connecting-line-manager">
          <line
            x1="10"
            y1="10"
            x2="240"
            y2="10"
            stroke="rgba(23, 90, 148)"
            stroke-width="2"
          />
        </svg>
        <p>Technical</p>
        <div class="btn-socialHandles-mangerCard">
          <!-- <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> -->
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="managerCardBack-TeamTCP">
      <div class="btn-socialHandles-mangerCard">
        <!-- <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> -->
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>




