<div class="guide">
    <div class="cu-guidelines-header">
        <h1>Guidelines</h1>
    </div>
    <div class="cu-container">
        <div class="cu-team-formation">
            <h2>TEAM FORMATION</h2>
            <ol>
                <li>All team members should be from the same college; no inter-college teams are allowed. However, members from different branches of the same college/institute are encouraged to form a team.</li>
                <li>Each team would comprise 2-4 members, including the team leader.</li>
                <li>As the software edition of the hackathon is a digital product development competition, the majority of the team members must be well versed with programming skills. For the hardware edition, we encourage multidisciplinary teams – which means your team should have a good mix of Mechanical Engineers, Electronics Engineers, Product Designers and Programmers, etc.</li>
            </ol>
            <p>Please note that <strong>NIT Raipur will be providing meals, travel and accommodation free of cost</strong>. Travel charges up to <strong>Rs. 1500 per person</strong> to and fro will be reimbursed when presented with a valid ticket/booking receipt.</p>
        </div>
        <div class="cu-judgement-btn">
            <a href="/components/Guidelines/Judgement Criteria.pdf" download="Judgement Criteria.pdf"><button>Judgement Criteria</button></a>
            
        </div>
    </div>
</div>