<div class="guide">
    <div class="cu-guidelines-header">
        <h1>Guidelines</h1>
    </div>
    <div class="cu-container">
        <div class="cu-team-formation">
            <h2>TEAM FORMATION</h2>
            <ol>
                <li>All <span class="span">team members</span > should be from the same college; <span class="span">no inter-college</span> teams are allowed. However, members from <span class="span">different branches</span> of the same college/institute are encouraged to form a team.</li>
                <li>Each team would comprise <span class="span">2-4 members</span>, including the <span class="span">team leader</span>.</li>
                <li>As the <span class="span">software edition</span> of the hackathon is a digital product development competition, the majority of the team members must be well versed with <span class="span">programming skills</span >. For the <span class="span">hardware edition</span >, we encourage multidisciplinary teams – which means your team should have a good mix of Mechanical Engineers, Electronics Engineers, Product Designers and Programmers, etc.</li>
            </ol>
            <p>Please note that <strong>NIT Raipur will be providing <span class="span">meals</span >, <span class="span">travel</span > and <span class="span">accommodation</span > <span class="span">free of cost</span> </strong>. Travel charges up to <strong><span class="span">Rs. 1500</span > per person</strong> to and fro will be reimbursed when presented with a valid ticket/booking receipt.</p>
        </div>
        <div class="cu-judgement-btn">
            <a href="/components/Guidelines/Judgement Criteria.pdf" download="Judgement Criteria.pdf"><button class="button">Judgement Criteria</button></a>
            
        </div>
    </div>
</div>