.codeutsava_sponsors_image{
  width: 80px;
  height: 100px;
  transform: rotate(20deg);
}
.codeutsava_sponsors_subheading{
  font-size: 20px;
  text-align: center;
  text-shadow: 2.85px 2.85px 0.532px black;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;

}
.codeutsava_sponsers_heading{
  font-size: 70px;
  display: flex;
  justify-content: center;
  color: var(--primary-c);
  text-shadow: 2.85px 2.85px 0.532px black;
  margin-top: 0.5em;
  

}
.codeutsava__sponsers-carousel-container {
  background-color: rgba(125, 125, 125, 0.265);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  overflow: hidden;
  /*padding-bottom: 2.5rem;*/
  display:inline-block;
  background-image: url("../../assets/images/grass.png");
  background-position: bottom;
  background-repeat: repeat-x;
  margin-top: 2em;
  margin-bottom: 175px;
}

.codeutsava__sponsers-carousel {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 800%;

  animation: scrollInfinite 40s linear infinite;
}

.codeutsava__sponsers-carousel:hover {
  animation-play-state: paused;
}

.codeutsava__sponsers-carousel-item {
  display: inline-block;
  margin: 2rem 3rem;
  height: 75px;
  width: auto;
  object-fit: contain;

}

.codeutsava__sponsers-carousel-item img {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  object-fit: cover;
}

.codeutsava__sponsers-carousel-item-block{
    margin: 0px 20vw;
    display: inline-block;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 30));
  }
}
