<div class="codeutsava__team-card4">
    <div class="codeutsava__team-card4-content">
      <div class="codeutsava__team-card4-split">
        <div class="codeutsava__team-card4-content-name">
          <h2>Arun Rathaur</h2> <!-- Replace with the team member's name -->
        </div>
        <div class="codeutsava__team-card4-content-domain">
          <h3>Technical Executive</h3> <!-- Replace with the domain -->
        </div>
      </div>
      <div class="codeutsava__team-card4-content-line"></div>
    </div>
    <img src="../../../assets/images/alien_executive_card.svg" alt="Grave" class="codeutsava__team-card4-img-grave"> <!-- Replace with correct image path -->

    <div class="codeutsava__team-card4-social">
      <div class="codeutsava__team-card4-social-ln">
        <a href="https://www.linkedin.com/in/johndoe" target="_blank" aria-hidden="true"><img src="../../../assets/images/linkedinblack.png" width="40px"/></a> <!-- Replace with actual LinkedIn URL -->
      </div>
    </div>
  </div>
