.prizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.prizes-container {
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 15px;
  padding: 30px;
  width: 90vw;
  text-align: center;
  border: 3px solid;
  border-color: var(--primary-c);
}

.prizes-header {
  font-size: 17px;
  padding-bottom: 20px;
  text-shadow: 2.85px 2.85px 0.532px black;
  display: flex;
  align-items: center;
}

.prizes-header img {
  height: 3rem;
  object-fit: contain;
  padding-right: 0.7rem;
  /* transform: rotate(20deg); */
  margin-top: -0.1rem;
}

.prizes-title2{
    font-size: 2em;
    color: white;
    text-shadow: 2.85px 2.85px 0.532px rgb(0, 0, 0);
    margin-bottom: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prize-card {
  min-width: 200px;
  min-height: auto;
  background-image: url("../../assets/images/scroll2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 477px;
  width: 500px;
  margin: 3rem 1rem 3rem 1rem;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 80px;
}
.prize-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--secondary-c);
  /* color: gold; */
  /* color: white; */
  text-shadow: 1.05px 1.05px 0.332px rgb(0, 0, 0);
}

.prize-card-body {
    color: rgb(62, 62, 62); 
    /* color: rgb(15, 20, 32); */
    /* text-shadow: 1.85px 1.85px 0.532px rgb(205, 205, 205);  */
    font-size: 13px;
    padding: 0.5rem 2rem;
}

.prize-card-body ul {
  text-align: left;
  /* margin-bottom: 20px;
  margin-left: 20px;
  color: white; */
}

.prize-card-body ul li {
  margin-bottom: 8px;
}

.prizes-description p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 30px;
  text-align: left;
}


@media (max-width: 515px) {
  .prizes-header {
    font-size: 7px;
    padding-bottom: 20px;
  }

  .prizes-btn {
    width: auto;
  }

  .prizes-body h2 {
    font-size: 25px;
  }

  .prizes-title2{
    font-size: 1.5em;
  }
  .prizes-container {
    width: auto;
    height: auto;
    padding: 12px;
  }

  .prize-card {
    margin: 0px;
    height: 369px;
    width: 305px;
    padding: 2rem 75px;
  }
  .prize-card h2 {
    font-size: 11px;
  }
  .prize-card-body {
    font-size: 7px;
    padding: 0 0rem;
  }

  .prize-card-body ul li {
    margin-bottom: 6px;
  }
  .prizes {
    margin-left: 10px;
    margin-right: 10px;
  }
}
