<div class="prizes">
  <div class="prizes-header">
        <img src="/assets/images/chest.png" alt="Chest">
        <h1>Prizes</h1>
    </div>
    <div class="prizes-container">
        <div class="prizes-title2">
            Win exciting prizes worth upto <b> 33 lakhs!</b>🏆
        </div>
    <div class="card-container">
      
        <div class="prize-card">
            <h2>Winner's</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>A monetary prize of <span style="font-weight: bold; color: #000000">Rs. 35,000 </span> and Rs. 2 lakhs worth of prizes will be presented to the winning team.</li>
                    <li>A Wolfram | Alpha PRO subscription for one year absolutely FREE.</li>
                    <li>An O’Reilly Ebook for FREE.</li>
                    <li>One month FREE Echo-3D Premium.</li>
                </ul>
            </div>
        </div>

        <div class="prize-card">
            <h2>Runner-Up's</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>A monetary prize of <span style="font-weight: bold; color: #000000">Rs. 25,000 </span> and Rs. 1.9 lakhs worth of prizes will be presented to the winning team.</li>
                    <li>A Wolfram | Alpha PRO subscription for one year absolutely FREE.</li>
                    <li>An O’Reilly Ebook for FREE.</li>
                    <li>One month FREE Echo-3D Premium.</li>
                </ul>
            </div>
        </div>

        <div class="prize-card">
            <h2>2ⁿᵈ Runner - Up's</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>The second runner-up team will be awarded Rs. 2.3 Lakhs, with Rs. 15,000 in cash.</li>
                    <li>A Wolfram | Alpha PRO subscription for one year absolutely FREE.</li>
                    <li>An O’Reilly Ebook for FREE.</li>
                    <li>One month FREE Echo-3D Premium.</li>
                </ul>
            </div>
        </div>

        <div class="prize-card">
            <h2>Problem Domain Winner's</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>The category wise winning teams will be awarded Rs. 1.5 lakhs in total, with Rs. 10,000 in cash to each team.</li>
                    <li>A Wolfram | Alpha PRO subscription for one year absolutely FREE.</li>
                    <li>One month FREE Echo-3D Premium.</li>
                </ul>
            </div>
        </div>

        <div class="prize-card">
            <h2> Best Hack built on Ethereum + Polygon</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>The winning team will be awarded Rs. 16,000 in cash.</li>
                </ul>
            </div>
        </div>

        <div class="prize-card">
            <h2>For All Participants!</h2>
            <div class="prize-card-body">
                <ul style="list-style-type:disc">
                    <li>30 days FREE trial of O' Reilly learning platform.</li>
                    <li>30 days FREE access to Wolfram | One.</li>
                    <li>One month FREE Echo3D Pro.</li>
                    <li>Tshirts, stickers and other goodies for the team.</li>
                    <li>System Driven mocks by InterviewBuddy.</li>
                </ul>
            </div>
        </div>

        

        

        

        
      </div>
    </div>
  </div>
</div>
