<div class="intro-screen">
    <div class="clouds-cont">
    </div>
    <div class="image-cont">
        <img src="/public/assets/images/bg.gif" alt="Waterfall">
    </div>
    <div class="intro-button-container">
        <div class="intro-button pixel-corners" id="intro-btn">enter</div>
    </div>
    <div class="clouds-container">
        <img src="/public/assets/images/cloud2.png" alt="cloud" class="cloud" id="leftCloud">
        <img src="/public/assets/images/cloud2.png" alt="cloud" class="cloud" id="rightCloud">
        <!-- <img src="/public/assets/images/cloud2.png" alt="cloud" class="cloud"> -->

    </div>
</div>


