.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 2rem; */
  color: white;
  font-family: var(--font-family);
  padding: 4rem;
  border-radius: 8px;
  gap: 2rem;
}

.contact-us-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem !important;
}

.contact-us-heading-container h1{
  margin-bottom: 0;
  font-family: var(--font-family) !important;
}

.contact-us-heading-container img{
  height: 3rem;
  padding-right: 1rem;
  object-fit: contain;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-c);
  text-shadow: 2.85px 2.85px 0.532px black;
}

.contact-us-section {
  position: relative;
  width: 100%;
  padding: 50px;
  background-color: rgba(127, 145, 189, 0.265);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  gap: 2rem;
  box-sizing: border-box;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.codeutsava__contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.map {
  border: none;
  width: 100%;
  height: 560px;
  border: 1px solid rgba(121, 111, 111, 0.639);
}
.codeutsava__contact-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-us-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  font-family: var(--font-family);
  padding: 1rem;
  margin-bottom: 10px;
  border: 1px solid rgba(161, 153, 153, 0.5);
  border-radius: 4px;
}

textarea {
  resize: none;
}

#submitBtn {
  background-color: var(--primary-c);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 0 12px 0;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .contact-us-section {
    flex-direction: column;
    align-items: center;
  }
  .codeutsava__contact-form {
    width: 90%;
  }
  .map-container {
    width: 90%;
  }
}

@media screen and (max-width: 747px) {
  .contact-us-heading-container h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 487px) {
  .contact-us-heading-container h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .main-heading {
    font-size: 2rem;
  }
  .codeutsava__contact-header {
    font-size: 1.5rem;
  }
  .contact-us-container {
    width: 100%;
    padding: 3rem 0rem;
  }
  .contact-us-section {
    width: 100%;
    padding: 0rem;
  }
  #contactForm {
    width: 100%;
    margin-top: 1rem;
  }
  .form-group label {
    font-size: 1rem;
  }
  .map-container {
    width: 100%;
    margin-top: 2rem;
  }
}
