<div class="codeutsava_team_container">
    <div class="codeutasava_main-team-head">
        <img src="assets/images/codeutsava_pixelated_logo.png" alt="TCP-LOGO" class="tcp_team-logo">
        <div id="codeutsava_team-heading">team tcp 2024</div>
    </div>
    <div class="prevPage-TeamPage"><button class="codeutsava_team-back-button button"><i class="fa-solid fa-arrow-left"></i> BACK TO MAIN PAGE</button></div>
    <p id="codeutsava_overall-coordinatior_heading">OVERALL CO-ORDINATORS</p>
    <div id="codeutsava_overall-coordinatiors"></div>
    <p id="codeutsava_head-coordinatior_heading" >HEAD CO-ORDINATORS</p>
    <div id="codeutsava_head-coordinatiors"></div>
    <p id="codeutsava_manager_heading" >MANAGERS</p>
    <div id="codeutsava_managers"></div>
    <p id="codeutsava_executive_heading" >EXECUTIVES</p>
    <div id="codeutsava_executives"></div>
    <div>