    <div class="participation-header">Last Year Participation</div>
    <div class="participation-container">
    <div class="participation_codeutsava__sponsers-carousel-container">
        <div class="participation-container_box1"id="123"data-target="1000">1000+</div>
        <div class="participation-container_box2">TEAMS</div>
    </div>
    <div class="participation_codeutsava__sponsers-carousel-container">
        <div class="participation-container_box1" data-target="100">100+</div>
        <div class="participation-container_box2">COLLEGES</div>
    </div>
    <div class="participation_codeutsava__sponsers-carousel-container">
        <div class="participation-container_box1"data-target="2000">2000+</div>
        <div class="participation-container_box2">DEVELOPERS</div>
    </div>
    <div class="participation_codeutsava__sponsers-carousel-container">
        <div class="participation-container_box1"data-target="3000">3000+</div>
        <div class="participation-container_box2">VISITORS</div>
    </div>
    </div>
