.homepage {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.codeutsava__navbar-container {
  z-index: 9999;
  width: 100%;
  position: sticky;
  top: 0px;
}

.codeutsava__footer-container {
  width: 100%;
  background-color: rgba(32, 32, 32, 1);
  margin-top: 10rem;
  overflow-x: hidden;
}
.codeutsava__navbar-container {
  position: fixed !important;
}
#main-container {
  margin-top: 72px !important;
}

/* Intro Screen Css starts here */

@font-face {
  font-family: "FFFFORWA";
  src: url("/assets/fonts/FFFFORWA.TTF") format("truetype");
}

@font-face {
  font-family: "8bitlim";
  src: url("/assets/fonts/8bitlim.ttf") format("truetype");
}

@font-face {
  font-family: "joystix monospace";
  src: url("/assets/fonts/joystix monospace.ttf") format("truetype");
}

.intro-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 2000000;
}

.image-cont img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.intro-button-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: none; */
}

.intro-button {
  user-select: none;
  cursor: pointer;
  font-family: "Carter One", "joystix monospace", sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 3px;
  height: 60px;
  width: 50vw;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border: 5px solid #3ebbf7;
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2,
    -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
}

.intro-button-container .intro-button:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
  border-color: white;
}

.intro-button-container .intro-button:active,
.intro-button-container .intro-button:focus {
  box-shadow: none;
}

.intro-button::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}

.intro-button::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 5px),
    5px calc(100% - 5px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 5px) 5px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 5px,
    0px 5px
  );
}

.clouds-container {
  width: 100vw;
  height: 100vh;
  z-index: 2000000;
  position: absolute;
  pointer-events: none;
}

.clouds-container .cloud {
  position: absolute;
  object-fit: contain;
  pointer-events: none;
}

.clouds-container .cloud:first-child {
  left: -500%;
  animation: leftCloud 3s ease-in-out forwards;
}

.clouds-container .cloud:last-child {
  right: 500%;
  transform: rotate(180deg);
  animation: rightCloud 3s ease-in-out forwards;
}
/* 
@media (max-width: 480px) {
  .clouds-container.cloud {
    width: 200px;
  }
} */

@keyframes leftCloud {
  0% {
    left: -500%;
  }
  100% {
    left: 0;
  }
}

@keyframes rightCloud {
  0% {
    right: -500%;
  }
  100% {
    right: 0;
  }
}

@keyframes leftCloudReverse {
  0% {
    left: 0;
  }
  100% {
    left: -500%;
  }
}

@keyframes rightCloudReverse {
  0% {
    right: 0;
  }
  100% {
    right: -500%;
  }
}

.clouds-container.hidden .cloud {
  animation: none;
}

.clouds-container.show .cloud:first-child {
  animation: leftCloud 3s ease-in-out forwards;
}

.clouds-container.show .cloud:last-child {
  animation: rightCloud 3s ease-in-out forwards;
}

.clouds-container.hide .cloud:first-child {
  animation: leftCloudReverse 3s ease-in-out forwards;
}

.clouds-container.hide .cloud:last-child {
  animation: rightCloudReverse 3s ease-in-out forwards;
}
