<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content-OCcard="IE=edge">
   <meta name="viewport" content-OCcard="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="teamcard2.css">
   <title>Creative Our Team Section Using HTML & CSS | CSS Neumorphism</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
   <!-- Created by S-Tech04 -->

</head>
<body>
    
    <div class="teamCard-OC">
      <button class="prevPage-TeamPage">Back to Home Page</button>
    <div class="topNotch-teamTCP">TEAM TCP</div>
      <!-- <button class="teamPage-TCPlogo"><img src="../../../assets/images/" alt=""></button> -->
    <div class="container-teamCard">
      <div class="card-OC">
        <div class="card-OC-front">
          <div class="cardTopSegment">
            <div class="rhombus-OCcard">
              <svg fill="#ffd06b" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve" stroke="#ffd06b"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> 
                <polygon points="227.495,150 133.746,200 45.467,150 84.267,330 370.733,330 409.533,150 321.247,200 "></polygon> 
              </g> <g> <rect x="87.5" y="360" width="280" height="55"></rect> </g> <g> <circle cx="40" cy="80" r="40"></circle> </g> <g> <circle cx="415" cy="80" r="40"></circle> </g> <g> <circle cx="227.5" cy="80" r="40"></circle> </g> </g> </g></svg>
            </div>
            <div class="teamCardTitle">Overall Coordinator</div>
            <div class="rhombus-OCcard">
              <!-- <svg
                width="25"
                height="50"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <polygon
                  points="10,0 20,10 10,20 0,10"
                  fill="#ffe600"
                  stroke="#000"
                  stroke-width="2"
                />
              </svg> -->
              <svg fill="#ffd06b" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve" stroke="#ffd06b"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <polygon points="227.495,150 133.746,200 45.467,150 84.267,330 370.733,330 409.533,150 321.247,200 "></polygon> </g> <g> <rect x="87.5" y="360" width="280" height="55"></rect> </g> <g> <circle cx="40" cy="80" r="40"></circle> </g> <g> <circle cx="415" cy="80" r="40"></circle> </g> <g> <circle cx="227.5" cy="80" r="40"></circle> </g> </g> </g></svg>
            </div>
          </div>
          <div class="content-OCcard">
            <div class="imgBoxOC">
              <img
                src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                alt=""
              />
            </div>
            <svg class="connecting-line-OC">
              <line
                x1="20"
                y1="10"
                x2="280"
                y2="10"
                stroke="#ffffff"
                stroke-width="2"
              />
            </svg>

            <div class="contentBox-OCcard">
              <h4>Viraj Chandra</h4>
              <!-- <h5>PR & Marketing</h5> -->
              <div class="OC-SocialHandles">
                <a href="#"
                  ><i class="fa fa-envelope" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-OC-back">
          <div class="OC-SocialHandles">
            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="cards2.js"></script>
</html>