.about-us-section {
  background-color: rgba(127, 145, 189, 0.265);
  backdrop-filter: blur(10px);
  margin-bottom: 30px;
  padding: 20px;
  overflow: hidden;
}
.grand-title {
  margin-bottom: 100px;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grand-title {
  text-align: center;
}

.grand-title h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fede63;
}

.icon-heading.el-2 {
  min-width: 48%;
  height: 300px;
}

.icon-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 300px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.icon {
  margin-bottom: 10px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #fede63;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.indicator {
  font-size: 24px;
  color: #fede63;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
  color: #e8e9ec;
  font-weight: 700;
  overflow: hidden;
  width: 100%;
}

.overview-text {
  display: block;
}

.description-text {
  display: none;
  white-space: normal;
}

.icon-heading:hover .heading,
.icon-heading:hover .icon {
  font-size: 18px;
  transform: translateY(-10px);
}

.icon-heading:hover .indicator {
  display: none;
}

.icon-heading:hover .description .overview-text {
  display: none;
}

.icon-heading:hover .description .description-text {
  display: block;
  animation: typewriter 0.5s ease-in;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Query for widths less than 1500px */
@media screen and (max-width: 1500px) {
  .icon-heading.el-1,
  .icon-heading.el-2 {
    min-width: 45%;
    height: 250px; /* Adjust height for smaller viewports */
  }

  .grand-title h1 {
    font-size: 36px; /* Adjust font size for better fit */
  }

  .heading {
    font-size: 20px; /* Adjust font size for better fit */
  }

  .indicator {
    font-size: 20px; /* Adjust font size for better fit */
  }

  .description {
    font-size: 16px; /* Adjust font size for better fit */
  }

  .icon-heading {
    height: 250px; /* Adjust height for smaller viewports */
  }

  .icon-heading:hover {
    height: 350px; /* Adjust height on hover for smaller viewports */
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .flex {
    display: block;
  }

  .icon-heading {
    min-width: auto;
    border-width: 2px;
  }

  .icon-heading:hover {
    height: 400px;
  }
}
