<h1 class="main-heading">About Us</h1>
<div class="about-us-section">
    <div class="content-wrapper">
        <div class="blurred-overlay"></div>
    
        <div class="about-us-content">
            <div class="animation-container">
                <div class="atom-animation">
                    <div class="complete">
                        <div class="atom">
                            <div class="line line-1"></div>
                            <div class="line line-2"></div>
                            <div class="line line-3"></div>
                            <div class="atom2">
                                <div class="line4" id="iconContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-container">
                <!-- <h3>Who We Are</h3>
                <h1>About Our Company</h1> -->
                <span style="color: var(--secondary-c);">CodeUtsava</span>
                is an annual event organized by the Turing Club of
                Programmers. This event aims to bring like-minded coders from all
                over the nation together, and foster coding culture among the
                students of the institute through its diverse range of programs such
                as Workshops, Hackathon, Coding competitions, Gaming Battles, Mic
                Sessions and much more. <br/><br/>The most envisioned event of <span style="color: var(--secondary-c);">CodeUtsava</span>, is
                the Hackathon. The event consists of a 28-hour-long hackathon that
                witnesses various teams with participants from across the nation and
                all four years stirring for making the best applications with the
                most appealing innovations. This year, CodeUtsava also boasts a
                prize pool of 33 Lakhs, with 1.5-2 Lakh cash prizes.
            </div>

        </div>

        <div class="bottom-headings">
            <div class="heading-item">
                <i class="fas fa-paint-brush"></i>
                <h4>Creative Design</h4>
            </div>
            <div class="heading-item">
                <i class="fas fa-check-circle" style="color: rgb(0, 255, 0);"></i>
                <h4>We Make Best Result</h4>
            </div>
            <div class="heading-item">
                <i class="fas fa-code" style="color: rgb(0, 225, 255);"></i>
                <h4>Innovative Coding</h4>
            </div>
        </div>
    </div>
    
</div>
